#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inactive {
	pointer-events: none;
	user-select: none;
}

.inactive:focus {
	outline: 0;
}

.inline-logo {
	display: inline-block;
	height: 3rem;
	width: 3rem;
}